= javascripts('//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js')
:javascript
  !window.jQuery && document.write(unescape('%3Cscript src="javascripts/libs/jquery-1.4.2.js"%3E%3C/script%3E'))

= javascripts('plugins')
= javascripts('script')

/[if lt IE 7 ]
  = javascripts('libs/dd_belatedpng.js')
  :javascript
    DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images

- if @profiling
  = javascripts('profiling/yahoo-profiling.min.js')
  = javascripts('profiling/config.js')

:javascript
  var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
  (function(d, t) {
    var g = d.createElement(t),
      s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
  })(document, 'script');